$img_icon: 64px
$icon_size: calc(#{$img_icon} + 3em)

div
  display: inline-flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  text-align: center
  width: $icon_size
  height: $icon_size
  img
    height: $img_icon
    width: $img_icon
    margin: 5px
  span
    margin: 1px
  &.selected
    background-color: rgba(0, 0, 255, 0.1)
