<ng-container *ngIf="ifApp(file.file)">
  <div (dblclick)="this.windowController.openNewWindow(file.file.launchClass)">
    <img (click)="select()" [src]="mimeService.getPictureForFile(file.file, title)">
    <span>{{title}}</span>
  </div>
</ng-container>

<ng-container *ngIf="!ifApp(file.file)">
  <div>
    <img (click)="select()"
         (dblclick)="mimeService.getAppForFile(file.file) && this.windowController.openNewWindow(mimeService.getAppForFile(file.file), file)"
         [src]="mimeService.getPictureForFile(file.file, title)">
    <span>{{title}}</span>
  </div>
</ng-container>
