<ng-container *ngFor="let window of windows">
  <div
    class="window" draggable="true"
    (dragover)="onDragOver($event, window)"
    (drop)="onDragDrop($event, window)"

    (click)="switch(window)"

    [style.visibility]="window.reduced ? 'hidden' : 'unset'"
    [style.left]="window.position ? window.position.left.get() : 0"
    [style.top]="window.position ? window.position.top.get() : 0"
    [style.z-index]="window.layer">
    <div (dragend)="exitDrag()" (dragstart)="startDrag($event, window)"
         *ngIf="window.window && !window.window.instance.forcedLayer" class="windowBar"
         draggable="true">

      <span>{{ window.window.instance.title }}</span>
      <span class="separator"></span>
      <span class="action reduce" (click)="minimize(window)">_</span>
      <span class="action close" (click)="close(window)">X</span>
    </div>
    <ng-container win-host [id]="window.id"></ng-container>
  </div>
</ng-container>

<div (dragover)="onDragOver($event)" (drop)="onDragDrop($event)" *ngIf="iframeFix"
     style="z-index: 5000; position: fixed;width: 100vw;height: 96vh; top: 0;left: 0;"></div>
